@charset "UTF-8";
/* generales */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.h2generales {
  color: white;
  font-family: Roboto;
  margin-top: 9.375rem;
  background-color: rgba(5, 41, 54, 0.5411764706);
  padding: 1.25rem 0.3125rem 1.25rem 2.3125rem;
  border-radius: 6.25rem;
}

.h1Generales {
  background-color: rgba(5, 41, 54, 0.5411764706);
  border-radius: 6.25rem;
  margin-top: 14.75rem;
  padding: 1.625rem;
  color: white;
  font-family: Roboto;
}

.parrafosGenerales {
  color: white;
  font-family: Montserrat;
  margin-top: 6.25rem;
  background-color: rgba(5, 41, 54, 0.5411764706);
  padding: 2.5rem;
  border-radius: 6.25rem;
  text-align: justify;
}

.imgGenerales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: auto;
}
.imgGenerales img {
  width: 25rem;
  height: 25rem;
  margin: 6.25rem 3.125rem;
  border-radius: 6.25rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
.headerindex {
  background-image: url(../assets/img/fondo-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#top {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 20.125rem;
  margin: 4.25rem 1.25rem;
}

.slogan {
  text-transform: capitalize;
  text-align: left;
  align-self: flex-start;
  margin: 4.25rem 1.25rem;
  background-color: rgba(7, 9, 29, 0.6);
  border-radius: 6.25rem;
  display: flex;
  padding: 0.625rem;
  color: white;
  font-family: Roboto;
}

.logoSlogan {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.barraNav {
  margin-top: 24.125rem;
  background-color: rgba(7, 9, 29, 0.6);
  border-radius: 6.25rem;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

.listadoNav {
  width: 100%;
  height: 5.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.listadoNav li a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* footer */
.sectionContactos {
  background-color: rgba(4, 64, 71, 0.6588235294);
  border-radius: 6.25rem;
  margin-top: 22.5rem;
  padding: 3.25rem;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
}

.contacto {
  font-family: Roboto;
  color: white;
}

.listadoContacto {
  width: 25rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 0.625rem;
}
.listadoContacto li a {
  padding: 0.625rem;
}

.enlaceLogo {
  padding: 5px 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.821);
  align-self: center;
}

.logofondo {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 20.125rem;
  margin: 0rem 1.25rem 0rem 1.25rem;
  padding-bottom: 0rem;
}

.irAlTop {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* index */
.bodyindex {
  background-image: url("../assets/img/fondo-index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagenesIndex {
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  padding: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "img01 . img02";
}

.img01 {
  width: 100%;
  height: 100%;
  border-radius: 6.25rem;
  grid-area: img01;
}

.img02 {
  width: 100%;
  height: 100%;
  border-radius: 6.25rem;
  grid-area: img02;
}

/* metodos */
.bodyMetodos {
  background-image: url(../assets/img/fondo-metodos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* catalogo */
.bodyCatalogo {
  background-image: url(../assets/img/fondo-catalogo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gridImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 5rem;
  justify-items: center;
  align-items: center;
  gap: 80px;
  padding: 40px;
}
.gridImg img {
  width: 100%;
  height: 75%;
  border-radius: 5rem;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* servicios */
.bodyServicios {
  background-image: url(../assets/img/fondo-servicios.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* presupuesto */
.bodyPresupuesto {
  background-image: url(../assets/img/fondo-presupuesto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

fieldset {
  border: 5px solid rgba(4, 64, 71, 0.6588235294);
  border-radius: 1rem;
  margin: 5px;
  padding: 5px;
}

.formulario {
  background-color: rgba(7, 9, 29, 0.6);
  border-radius: 6.25rem;
  margin-top: 14.75rem;
  padding: 2.625rem;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
}

legend {
  font-size: 32px;
  background-color: rgba(7, 9, 29, 0.57);
  border-radius: 40px;
  padding: 10px;
  margin: 5px;
}

.características {
  color: rgb(255, 255, 255);
  background-color: rgba(4, 64, 71, 0.658);
  border-radius: 40px;
  padding: 10px;
}

.labelEstilo {
  color: rgb(109, 183, 197);
  font-size: 32px;
}

.complementos {
  color: rgb(109, 183, 197);
  font-size: 32px;
  padding: 5px;
  gap: 2.25rem;
}

.botonEnviar {
  width: 100%;
  height: 3.125rem;
  border-radius: 2.5rem;
  background-color: rgba(24, 154, 186, 0.6039215686);
  font-size: 1.5rem;
  border: 0.125rem solid rgba(7, 9, 29, 0.57);
}

.checkbox {
  width: 1.625rem;
  height: 1.625rem;
}

.dejaComentario {
  width: 50%;
  height: 3.125rem;
  background-color: rgba(178, 212, 220, 0.3725490196);
  border-radius: 3.125rem;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  /* GENERALES */
  .sectionContactos {
    border-radius: 3.125rem;
    margin-top: 11.25rem;
    padding: 1.5625rem;
    background-color: rgba(0, 255, 255, 0.479);
  }
  .barraNav {
    margin-top: 10.125rem;
    background-color: rgba(39, 110, 161, 0.6);
    border-radius: 4.25rem;
  }
  /* metodos y servicios */
  .imgGenerales {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "imagen1 imagen2";
  }
  .imgGenerales img {
    border-radius: 3.125rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
  }
  .imgBorrar {
    display: none;
  }
  .imagen1 {
    grid-area: imagen1;
  }
  .imagen2 {
    grid-area: imagen2;
  }
}
@media (max-width: 768px) {
  /* generales */
  .headerindex {
    background-position: 0% 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logoSlogan {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    flex-direction: column;
  }
  #top {
    height: 6.25rem;
    width: 6.25rem;
    margin: 1.25rem;
  }
  .slogan {
    margin: 1.25rem;
  }
  .barraNav {
    margin-top: 0rem;
    width: 20%;
    border-radius: 20px;
  }
  .listadoNav {
    flex-direction: column;
    gap: 1.25rem;
    padding: 20px;
  }
  .sectionContactos {
    border-radius: 3.125rem;
    margin-top: 11.25rem;
    padding: 1.5625rem;
    background-color: rgba(0, 255, 255, 0.479);
  }
  /* index */
  .img01, .img02 {
    border-radius: 3.25rem;
    height: 250px;
  }
  /* metodos y servicios */
  .h1Generales {
    margin-top: 3.125rem;
    border-radius: 1.125rem;
  }
  .h2generales {
    margin-top: 3.125rem;
    border-radius: 1.125rem;
    background-color: rgba(23, 45, 85, 0.5411764706);
  }
  .parrafosGenerales {
    margin-top: 3.125rem;
    background-color: rgba(13, 88, 120, 0.658);
    border-radius: 1.125rem;
  }
  .imgGenerales {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "imagen1 imagen2";
  }
  .imgGenerales img {
    border-radius: 3.125rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
  }
  .imgBorrar {
    display: none;
  }
  .imagen1 {
    grid-area: imagen1;
  }
  .imagen2 {
    grid-area: imagen2;
  }
  /* CATALOGO */
  .gridImg img {
    border-radius: 1rem;
  }
  /* PRESUPUESTO */
  .formulario {
    border-radius: 3.125rem;
    margin-top: 3.5rem;
    background-color: rgba(5, 6, 36, 0.6431372549);
  }
  .legend {
    font-size: 24px;
    border-radius: 20px;
  }
  .labelEstilo, .complementos {
    color: rgb(255, 255, 255);
    font-size: 24px;
  }
}
@media (max-width: 426px) {
  /* generales */
  .slogan {
    background-color: rgba(6, 96, 91, 0.6);
  }
  .barraNav {
    background-color: rgba(6, 96, 91, 0.6);
    border-radius: 10px;
  }
  .listadoNav li a {
    font-size: 12px;
  }
  .bodyindex {
    background-image: url(../assets/img/bodypresupuesto.jpg);
  }
  .sectionContactos {
    background-color: rgba(85, 6, 255, 0.634);
    border-radius: 0.625rem;
    margin-top: 5rem;
    padding: 12px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .listadoContacto li a {
    padding: 0.3125rem;
  }
  .logofondo {
    height: 3.125rem;
    width: 3.125rem;
    margin: 0rem;
    padding-bottom: 0rem;
    align-self: center;
  }
  .irAlTop {
    margin-top: 1.25rem;
  }
  .h1Generales {
    background-color: rgba(6, 96, 91, 0.6);
    font-size: 16px;
  }
  .h2generales {
    background-color: rgba(10, 148, 141, 0.6);
    font-size: 16px;
  }
  .parrafosGenerales {
    background-color: rgba(3, 50, 48, 0.6);
    border-radius: 0.625rem;
    font-size: 16px;
    text-align: center;
  }
  .bodyPresupuesto {
    background-color: rgba(104, 99, 99, 0.759);
    background-image: none;
  }
  /* catalogo */
  .imgBorrar2 {
    display: none;
  }
  .gridImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .gridImg img {
    width: 100%;
    height: 75%;
    border-radius: 1rem;
  }
}
/* PSEUDOCLASES */
.listadoNav li a:hover {
  color: rgb(225, 230, 166);
}
.listadoNav li a:active {
  filter: blur(0.625rem);
}

#top:active {
  filter: blur(0.625rem);
}
#top:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.551);
}

.slogan:active {
  filter: blur(0.625rem);
}
.slogan:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.551);
}

.parrafosGenerales::selection {
  color: black;
  background-color: wheat;
}

input::placeholder {
  background-color: rgba(229, 152, 10, 0.56);
}

/*# sourceMappingURL=style.css.map */
