/* metodos */

    .bodyMetodos {
      background-image: url(../assets/img/fondo-metodos.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

